/* Importando css da página index.css :) */

@import url('index.css');

/* Css do formulario classe formulário */

.formulario {
    width: 50%;
    margin: 0 auto;
}

.form-contato {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.form-contato-input {
    width: 100%;
    color: #292929;
    font-size: 15px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}

.form-contato-area {
    width: 100%;
    color: #292929;
    font-size: 15px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Open Sans', sans-serif;
}

.form-contato-botao {
    width: 100%;
    font-size: 15px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: rgb(51, 51, 51);
    display: block;
    border: none;
    border-bottom: 1px rgb(130, 130, 130);
    border-right: 1px rgb(130, 130, 130);
    transition: 1s;
}

.form-contato-botao:hover {
    opacity: 1;
}