        /* Definições de padronização das páginas */
        
        * {
            text-decoration: none;
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Open Sans', sans-serif;
            color: white;
            line-height: 25px;
            margin: 0;
            padding: 0;
        }
        
        header {
            position: relative;
            width: 1220px;
            max-width: 100%;
            height: 120px;
            top: 5px;
            right: 0px;
            left: 0px;
            margin: 0px auto;
        }
        
        .container {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px
        }
        
        .linha {
            margin-left: -15px;
            margin-right: -15px
        }
        
        .linha:before,
        .linha:after {
            content: " ";
            display: table
        }
        
        .linha:after {
            clear: both
        }
        
        .coluna_geral {
            position: relative;
            padding-left: 15px;
            padding-right: 15px;
            min-height: 1px;
            float: left
        }
        
        .coluna-2 {
            width: 33.333332%
        }
        
        .coluna-4 {
            width: 66.666664%
        }
        /* Fim das definições */
        /* Header e menu navbar com dropdown */
        
        #logo {
            position: absolute;
            width: 60px;
            top: -36px;
            bottom: 0px;
            left: -80px;
            max-width: 100px;
        }
        
        #logo img {
            font-size: 35px;
            line-height: 80px;
            padding: 0 0px;
            font-weight: bold;
            min-width: 400px;
            max-width: 250px;
        }
        
        .navegacao {
            height: 80px;
            width: 100%;
        }
        
        .navegacao ul {
            float: right;
            margin-right: 20px;
        }
        
        .navegacao ul li {
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;
        }
        
        .navegacao ul li a {
            color: black;
            font-size: 15px;
            margin: -5px;
            padding: 7px 13px;
            border-radius: 3px;
        }
        
        .navegacao a.active,
        .navegacao a:hover {
            background: #f8f8f8;
            transition: .5s;
        }
        
        .checkbtn {
            font-size: 30px;
            color: rgb(140, 205, 230);
            float: right;
            line-height: 120px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }
        
        #check {
            display: none;
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        /*Fim do header*/
        /* Conteúdos dentro do main */
        /* caracteristica da tabela */

        .table{
            margin:20px;
        }
        
        
        table {
            margin:auto;
            padding: 15px;
            width: 50%;
            border: 1px solid black;
            border-collapse: collapse;      
            position: relative;
            font-family: "Opens sans", sans-serif;
            text-align: center;
            margin-bottom: 55px;      
        
           
        }
        
        
        
        .tabela thead th{
           padding: 7px;
           font-size: 1.5em;
        }
           
          
        .tabela caption{
            padding:7px;
            font-size: 1.6em;
            font-weight: 700;
            border: 1px solid black;
            border-bottom: 0px;
            background-color:#7dc9e0;
            border-radius: 3px 3px 0px 0px;
            color: black;
        }
            
        
        .tabela tbody tr td{
            position: relative;
            padding: 7px;         
            

           
            }
        
        .tabela th,td{
            border: 1px solid black;
           
            background-color: white;
            color: black;
            
        }
        
        .tabela tbody>tr:nth-child(even){
            background-color: rgb(140, 205, 230);
        }
        .tabela tbody tr td:before {
        
            display: none;
        }
        .tabela tbody, thead, caption{
            background-color: white;
            box-shadow: 0px 5px 9px  3px rgba(38, 125, 151, 0.74);

        
            
        }
         
    
       
        
        /* fim da tabebla*/
        
        .nav_rodape nav ul,
        .nav_rodape nav ul li {
            list-style: none;
            margin: 0;
            padding: 0;
           
        }
        /* Imagens slide */
        
        #slider {
            overflow: hidden;
        }
        
        #slider figure {
            position: relative;
            width: 500%;
            margin: 0;
            left: 0;
            animation: 20s slider infinite;
        }
        
        #slider figure img {
            width: 20%;
            float: left;
        }
        
        @keyframes slider {
            0% {
                left: 0;
            }
            20% {
                left: 0;
            }
            25% {
                left: -100%;
            }
            45% {
                left: -100%;
            }
            50% {
                left: -200%;
            }
            70% {
                left: -200%;
            }
            75% {
                left: -300%;
            }
            95% {
                left: -300%;
            }
            100% {
                left: -400%;
            }
        }
        /* Fim do main */
        /* Rodape começo */
        
        a.rodape {
            text-decoration: none
        }
        
        p.rodape {
            margin: 10px 0 10px 0
        }
        
        p.rodape img {
            margin-bottom: -20px;
        }
        
        #footer {
            background-color: rgb(140, 205, 230);
            text-align: left;
            position: relative;
        }
        
        #footer,
        #footer a {
            color: white;
        }
        
        #footer h3,
        #footer nav li {
            text-transform: uppercase
        }
        
        #footer h3:after {
            content: '';
            display: block;
            border-bottom: 2px solid whitesmoke;
            width: 30px
        }
        
        #footer .navegacao nav li {
            padding: 3px 0
        }
        
        #footer .navegacao nav li a:hover {
            color: rgb(220, 220, 220);
        }
        
        #footer .social {
            height: 200px;
            line-height: 200px;
            text-align: right
        }
        
        #footer .social a {
            display: inline-block;
            padding: 0 0 0 10px;
            opacity: 1
        }
        
        #footer .social a:hover {
            opacity: .5;
            transition: ease .3s all
        }
        
        #footer .social img {
            vertical-align: middle
        }
        
        p.alinhar {
            text-align: justify;
        }
        
        #copyright {
            text-align: center;
            background-color: rgb(70, 130, 180);
            padding: 10px;
            bottom: 0;
            left: 0;
            height: 45px;
            width: 100%;
        }
        /* Rodape - Fim */
        /* @medias para a responsividade das páginas, tanto em
        smartphones, como em tablets */
        
        @media (min-width:992px) {
            .container {
                max-width: 992px;
                margin: 0 auto
            }
            .coluna-area-2 {
                width: 16.66%
            }
            .coluna-area-3 {
                width: 28.999999%
            }
            .coluna-lugar-1 {
                margin-left: 8.333333%;
            }
        }
        
        @media (min-width:1200px) {
            .container {
                max-width: 1200px
            }
        }
        
        @media (max-width: 992px) {
            #logo img {
                font-size: 30px;
                margin-bottom: 20px;
            }
            #logo {
                left: -130px;
            }
            #header,
            #header nav {
                text-align: center
            }
            .checkbtn {
                display: block;
            }
            .navegacao ul {
                position: fixed;
                width: 100%;
                height: 100vh;
                background: lightblue;
                top: 80px;
                left: -100%;
                text-align: center;
                transition: all .5s;
            }
            .navegacao ul li {
                display: block;
                margin: 50px 0;
                line-height: 30px;
            }
            .navegacao ul li a {
                font-size: 20px;
            }
            .navegacao a:hover,
            .navegacao a.active {
                background: none;
                color: white;
            }
            #check:checked~ul {
                left: 0;
            }
        }
        /* media query da tabela para todos os dispositivos com no máximo 800px*/
        @media all  and (max-width:800px){
        
            .tabela tbody tr td{
                display: block;
                text-align: center;
                border: none;
                
                
                
            }
            table{
                border: none;
                width: 80%;
            }
            .tabela tbody tr td :before{
                content: "";
                position: absolute;
                display: block; 
                border: none;
                text-align: center;
            
            
            }
            .tabela .leis {
                font-size: 18px;
                font-weight: 700;
                background-color: rgba(125, 201,224, 0.16) ;
                border: none;
                padding: 7px;
            
            }
            
            .tabela .leiseven {
                background-color: rgba(45, 121, 145, 0.185);
                font-size: 18px;
                font-weight: 700;
                border: none;
                padding: 7px;
            
            
            }
            .tabela thead{
                display: none;
                border: none;
               
            }
            table tbody tr{
               
                display: block;
                border: 1px solid black;
             
                             
               
            }
            .tabela td,th{
                border: none;
                
              
            }
          
            .tabela tbody{

                border: none;
              
            }
        }