/* Css do formulario classe formulário */

@import url('index.css');

/* Css do formulario classe formulário */

body {
    
}

main {
    width: 100%;
    color: black;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.sard {
    width: 100%;
    background-color: rgb(220, 233, 241);
    opacity: 0.9;
    padding: 15px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px #666;
   
}

.textsard{
    width: 40%;
    margin: 0 auto;
    padding: 1px;
}


.nos {
    display: inline-block;
    width: 40%;
    background-color: rgb(220, 233, 241);
    opacity: 0.9;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 0 10px #666;
}

.cont{
    display: inline-block;
    width: 40%;
    background-color: rgb(220, 233, 241);
    opacity: 0.9;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 0 10px #666;
    margin: 50px 10px;
}

h2 {
    font-size: 1.5em;
    margin: 0 5px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

p.componente {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: justify;
    
}

a.componente{
    color:rgb(12, 12, 133);
    font-weight: bold;
    font-size: 20px;
    padding-top: 7px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;

}

.nos>ul{
    text-align: left;
    color:rgb(12, 12, 133);
    font-weight: bold;
    font-size: 18px;
}



